/* 1 базовая стилизация */

/* 1.1 общие стили */

body {
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #000000;
  background-image: url("../img/bg-index.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}

a {
  text-decoration: none;
}

/* 1.2 базовая стилизация шапки */

.main-navigation {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;

  background-color: #000000;
}

.site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: #242424;
}

/* 1.3 базовая стилизация раздела преимуществ */

.features-list {
	list-style: none;
}

.feature-item {
	text-align: center;
}

.feature-item h3 {
	font-size: 30px;
	line-height: 42px;
}


